.post-index-main {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  box-sizing: border-box;
  margin-top: 60px;
  padding: 30px;
  &__body {
    margin: 10px 0;
    &__footer {
      padding: 3px 20px !important;
      &__name {
        margin-left: 10px;
        font-size: 13px;
      }
      &__date {
        margin: 0 20px 0 10px;
        font-size: 13px;
      }
      &__icon {
        margin-left: 10px;
      }
      &__icon-heart {
        margin-left: 10px;
        cursor: pointer;
      }
      &__icon-count {
        margin-right: 10px;
      }
    }
  }
}

.post-index-grid {
  width: 65%;
  float: left;
}

.post-side-grid {
  width: 30%;
  float: left;
  margin-left: 20px;
}